input[type=submit]
{

    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input,
.input {
    border: 1px solid #888;
    box-sizing: border-box;
    display: inline;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    /*  margin: 10px 0; */
    /*padding: 2px 5px;*/
    vertical-align: baseline;
    width: 100px;
    padding: 2px 3px;
}
button,
.button {
    border: 1px solid #888;
    box-sizing: border-box;
    display: inline;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    /*  margin: 10px 0; */
    /*padding: 2px 5px;*/
    vertical-align: baseline;
    width: 300px;
    padding: 2px 3px;
}
